
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */